.container {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #9796f0, #fbc7d4);
}
.card {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60vw;
  list-style-type: none;
}
