.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff40;
  padding: 10px;
  padding-right: 10vw;
  padding-left: 10vw;
}
.logoCard {
  display: flex;
  align-items: center;
}
.logo {
  color: #ffffff;
  height: 5vw;
}
.logoName {
  color: #fff;
  font-family: 'Roboto';
  font-size: 2vw;
  font-weight: 500;
}

.navContent {
  display: flex;
  align-items: center;
}
.score {
  margin-right: 25px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .score {
    font-size: 14px;
  }
}
